form {
	padding: 5px;
	background-color: #e8e8e8; 
	border: 1px solid #aaaaaa;
}

input {
	border: 1px solid #aaaaaa;
	color: #1e1e1e;
}

submit {
    padding: 3px;
	background: #d8d8d8;	
}
	
textarea {
	border: 1px solid #aaaaaa;
	color: #1e1e1e;
	width: 65%;
}