body {
	font-family: Arial, Helvetica, sans-serif;
	width: 965px;	
	margin: 0 auto;
	padding: 0px;
	font-size: 12px;
	background: #ffffff url('images/bg.gif') left top repeat-x; 
	color: #1e1e1e;
}

table { border-collapse:collapse; } 

a, a:visited, a:active {
	color: #7f0000; 
	text-decoration: none;
}

a:hover {
	color: #7f0000; 
	text-decoration: underline;
}

img {
	padding: 0px;
	border: 0px;
}

img.alignright {
	float: right;
	margin: 0px 0px 5px 12px;
	}

img.alignleft {
	float: left;
	margin: 0px 12px 5px 0px;
	}
	
#header {
	width: 965px;
	height: 180px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
}

#header h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	color: #000000;
	font-size: 52px;
	font-weight: bold;
	line-height: 100%;
	margin: 30px 0px 0px 0px;
	padding: 0px;
}

#header h1 span {
	color: #7f0000;
}

#header h1 a, #header h1 a:visited, #header h1 a:active, #header h1 a:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	color: #000000;
	font-size: 52px;
	font-weight: bold;
	text-decoration: none;
	line-height: 100%;
}

#header p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 5px 0px 0px 5px;
	padding: 0px;
	text-align: left;
	font-size: 14px;
	color: #3e3e3e;
}

#topmenu {
	float: left;
	margin-top: 20px;
	padding-left: 3px;
	border-left: 3px solid #929281;
	border-top: 1px dotted #929281;
	border-bottom: 1px dotted #929281;
	border-right: 3px solid #929281;
}

#topmenu ul {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#topmenu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#topmenu li a, #topmenu li a:visited, #topmenu li a:active {
	display: block;
	color: #484833;
	font-weight: bold;
	text-decoration: none;
	float: left;
	margin: 0px 15px 0px 5px;
	padding: 14px 3px 13px 3px;
}

#topmenu li a:hover {
	margin: 0px 15px 0px 5px;
	padding: 14px 3px 6px 3px;
	border-bottom: 5px solid #929281;
	color: #000000;
}

#container {
	width: 965px;
	margin: 0 auto;	
}

#content {
	width: 670px;
	float: left;
	display: inline;
}

#content p {
	line-height: 130%;
}

#sidebar {
	width: 285px;
	float: left;
	padding-left:10px;
	padding-top: 8px;
}

#sidebar h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #1e1e1e;
	padding: 0px 10px 5px 13px;
	background: url('images/h2bg.gif') no-repeat top left;
	font-size: 16px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 2px;
}

#sidebar p {
	padding: 0px 5px 10px 10px;
}

#searchform {
	margin: 10px 0px 21px 5px;
	padding: 0px 0px 0px 10px;
	border: 0;
	background: #ffffff;
}

#searchfield {
	border: 1px solid #aaaaaa;
	color: #1e1e1e;
	width: 180px;
	padding: 1px;
	margin: 1px;
	height: 18px;		
}

#sidebar ul li ul li a, #sidebar ul li ul li a:visited, #sidebar ul li ul li a:active {
	font-size: 12px;
	padding-left: 10px;
	background:  url('images/link.gif') no-repeat left 4px;
	text-decoration: none;
}

#sidebar ul li ul li a:hover {
	text-decoration: underline;
}

#sidebar ul {
	list-style: none; 
	margin: 0px;
	padding: 0px;
}

#sidebar li {
	margin: 0px 5px 0px 5px;
}

#sidebar ul li ul {
	list-style: none; 
	margin: 1px 0px 16px 0px;
	padding-right: 0px;
}

#sidebar ul li ul li {	
	margin-left: 3px;
	background: url('images/dotted2.gif') 11px bottom no-repeat;
	margin-bottom: 1px;
	padding: 2px 0px 4px 10px;
}

.links {
border: 1px solid #fff;
background-color: #EFEEEA;
padding: 10px;
font-size: 14px;
}

.links a {
color: #000;
padding-left:3px;
margin:1px;
}

#footer {
	padding: 15px 25px 10px 25px;
	clear: both;
	text-align: center;	
	border-top: 1px solid #aaaaaa;
	background: #e8e8e8;
	margin-top: 60px;
	display: block;
}

#footer p {
	color: #666666;
}

#footer a, #footer a:visited, #footer a:active {
	font-size: 12px;
	color: #000;
}

#footer a:hover {
	text-decoration: underline;
}
