#post {
padding-top:10px;
}

#post h2, #post h2 a, #post h2 a:visited, #post h2 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #7f0000;
	margin: 0px;
	padding-bottom: 5px;
}

#post h2 a:hover {
	color: #7f0000; 
	text-decoration: underline;
}

.post_error {
padding:3px;
font-size:15px;
font-family: Tahoma;
color: #7f0000;
border-left: 2px solid #7f0000;
border-right: 2px solid #7f0000;
border-top: 1px dotted #7f0000;
}
.post_error span {
padding-left:5px;
}

.post_message {
padding: 3px;
font-size:15px;
font-family: Tahoma;
color: #59A84A;
border-left: 2px solid #59A84A;
border-right: 2px solid #59A84A;
border-top: 1px dotted #59A84A;
}
.post_message span {
padding-left:5px;
}

.post1 {
padding:3px;
background: #F2F8F9;
}
.post2 {
padding:3px;
background: #E6ECED;

}
.post_title {
font-size:14px;
padding:2px;
}
.post_content{
font-size:12px;
padding:2px;
}


blockquote {
	margin: 15px 30px 15px 5px;
	padding-left: 10px;
	border-left: 5px solid #e8e8e8;
}

.main_menu {}